<section class="hero is-primary is-medium">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <!-- <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo"> -->
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
              Home
            </a>
            <a class="navbar-item">
              Examples
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Lemmoney Test
      </h1>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li class="is-active"><a>Overview</a></li>
          <li><a>Modifiers</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>15 de Maio de 2020</strong>
      <a href="www.linkedin.com/in/juarezlustosa">Juarez Lustosa</a>.
    </p>
    <p>
      <span class="icon is-large">
        <i class="fas fa-envelope"></i  >
      </span>
      <span>juarez.lustosa@gmail.com</span>
    </p>
  </div>
</footer>
