<section class="hero is-dark is-bold is-rounded">
  <div class="hero-body">
    <div class="container is-fluid">
      <h1 class="title">Dashboard</h1>
      <h2 class="subtitle">
        Hello Welcome to my test
      </h2>
    </div>
  </div>
</section>
