<div class="column is-2">
  <nav class="menu">
    <p class="menu-label">
      Menu
    </p>
    <ul class="menu-list">
      <li>
        <%= link_to root_path do %>
          <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
          Dashboard
        <% end %>
      </li>
      <li>
        <%= link_to admin_offers_path do %>
          <span class="icon"><i class="fas fa-upload"></i></span>Offers
        <% end %>
      </li>
    </ul>
  </nav>
</div>
