<div class="column is-12">
  <% if notice %>
    <p class="notification is-success">
      <%= notice %>
    </p>
  <% end %>
  <% if alert %>
    <p class="notification is-danger">
      <%= alert %>
    </p>
  <% end %>
</div>
